:root {
  --color-green1: #00ff41;
  --color-green2: #02fd56;

  --color-dark: #181818;
  --color-gray: #1f1f1f;

  --font-changwon: "CWDangamAsac-Bold";
  --font-pyeonchang: "PyeongChangPeace-Bold";
  --font-lotteria: "LOTTERIACHAB";
  --font-pretendard: "Pretendard-Regular";
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* ///////////////////// */
body {
  background-color: #000000;
  overflow: auto;
}

section {
  width: 100%;

  position: relative;
}
.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 420px;
}
.common_wrap {
  padding: 0 20px;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 420px;
  width: 100%;

  position: relative;
  height: 100%;
}
.common_title {
  margin-bottom: 35px;
}
.common_title-line,
.common_title-fill {
  font-family: var(--font-changwon);
  font-size: 40px;
  color: var(--color-green1);
  line-height: 1;
  text-align: center;
}
.common_title-line {
  color: transparent;
  -webkit-text-stroke: #00ff41 1px;
}

.common_title-sub {
  font-size: 14px;
  text-align: center;
  font-family: var(--font-pretendard);
  text-align: center;
  font-weight: 500;
}
/* header */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 3;
  left: 0;
}

.header_wrap {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #00000070;
  justify-content: space-between;
}
.marquee {
  height: 30px;
  width: 100%;

  background: var(--color-green1);
  overflow: hidden;
}
.marquee_wrap {
  width: max-content;
  height: 100%;
  display: flex;

  align-items: center;
  animation: bar 10s infinite linear;
}
@keyframes bar {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(-100% / 3), 0%);
  }
}
.marquee-line {
  width: max-content;
  gap: 30px;
  margin-right: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

.marquee-line span {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}
.logo {
  width: 115px;
}
.menu_btn {
  width: 74px;

  height: 34px;
  border-radius: 35px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_btn span {
  font-size: 16px;
  color: #000000;
  font-family: var(--font-lotteria);
}
.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(0%, -100%);

  transition: all 0.3s;
}
.menu .container {
  background-color: #000000;
}
.menu.active {
  transform: translate(0, 0);
}
.menu_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.menu_top {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}
.menu_bottom {
  width: 100%;
  padding-top: 32px;
}
.menu_bottom ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}
.menu_bottom ul li {
  overflow: hidden;
}
.menu_bottom ul li a {
  font-size: 30px;
  display: inline-block;
  color: transparent;
  transform: translate(0, 100%);

  -webkit-text-stroke: 1px #ffffff;
  font-family: var(--font-changwon);
}
.menu_bottom ul li.active a {
  color: #ffffff;
  -webkit-text-stroke: 0px #ffffff;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;

  z-index: 3;
}

footer .container {
  background-color: #000000;
  border-bottom: 2px solid var(--color-green1);
}
footer ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
footer li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
footer li {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  position: relative;
}
.basket_count {
  width: 12px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -45%);
  height: 12px;
  font-size: 10px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_center a {
  width: 70px;
  height: 70px;
  flex: initial;

  transform: translate(0, -50%);
  border-radius: 50%;

  background-color: var(--color-green1);
}
.footer_center span {
  color: #000000;
  font-weight: 900;
}
.footer_img-home {
  width: 20px;
}
.footer_img-funding {
  width: 20px;
}
.footer_img-game {
  width: 31px;
}
.footer_img-basket {
  width: 15.5px;
}
.footer_img-profile {
  width: 14.3px;
}
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #0000006b;
  display: none;
}
.popup.active {
  display: block;
}
.popup_wrap {
  width: 100%;
  background-color: #000;
  max-width: 369px;
  height: 151px;
  padding: 0 15px;

  border-radius: 10px;
  border: 1px solid var(--color-green1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.popup_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.popup_btns_done {
  width: 113px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #1f1f1f;
}
.popup_btns_more {
  width: 113px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-green1);
}
.popup_btns_more span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #000;
}
.popup_btns_done span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}
@media all and (max-width: 420px) and (max-height: 900px) {
  body {
    overflow: auto;
  }

  .main {
    max-height: 100%;
  }

  .wrap::-webkit-scrollbar {
    width: 0px;
    border-radius: 50px;
  }
}
