.back {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  margin-bottom: 20px;
  align-items: center;
}
.back img {
  width: 20px;
}

/* tracking */
.tracking {
  padding-bottom: 10px;
  background-color: #181818;
}
.tracking .container {
  padding: 0 20px;
}
.tab {
  margin-top: 23px;
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
}
.tab_btn {
  position: relative;
  padding-bottom: 18px;
}
.tab_btn span {
  font-size: 18px;

  color: #999;
  font-weight: 400;
}
.tab_btn.active span {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-green1);
}
.tab_btn.active:after {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 80%;
  background-color: var(--color-green1);
  position: absolute;
  height: 4px;
  content: "";
  border-radius: 4px;
}

.tracking_contents .content {
  padding-top: 15px;
  padding-bottom: 20px;
  display: none;
  flex-direction: column;
  gap: 10px;
  display: none;
}

.tracking_contents .content.active {
  display: flex;
}
.tracking_contents .content li {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #000000;
  position: relative;
}
.tracking_contents .content li:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
}
.number_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}
.quantity_wrap {
  flex-direction: column;
  display: flex;
  gap: 33px;

  padding: 15px 20px;
}

.quantity_wrap_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity_wrap_bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.quantity_detail {
  position: absolute;
  left: -40px;
  background-color: var(--color-green1);
  width: 100px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  border-radius: 0px 4px 4px 0px;
}
.quantity_detail span {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.tracking_container_2 {
  position: absolute;
  bottom: -1px;
  height: 50px;
  padding: 0 15px;
}
.bottom_number {
  border: 0;
  border-radius: 8px 8px 0 0;

  padding: 15px 20px;
  background-color: #000000;
}
.delivery_status {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-green1);
}
.delivery_status.refund {
  color: #e93724;
}
.delivery_status.cancle {
  color: #999999;
}

/* complete */

.complete {
  height: 100vh;
  background-color: #000;
}
.complete .container {
  padding: 0 50px;
}
.complete_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.check {
  width: 40px;
}
.char {
  width: 62px;
  margin: 18px 0 35px 0;
}
.complete_wrap h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.complete_wrap p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin: 10px 0 35px 0;
}
.order {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid #ffffff;
}
.price {
  width: 100%;
  padding-top: 20px;
}
.order_number,
.order_pay,
.price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order_number {
  margin-bottom: 5px;
}
.order_number span,
.order_pay span {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.order_number span:last-child,
.order_pay span:last-child {
  font-weight: 700;
}
.price_name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.price_data {
  font-weight: 700;
}
.complete_btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 23px;
  justify-content: center;
}
.complete_btn {
  margin-top: 50px;
  width: 100%;
  background-color: var(--color-green1);
  flex: 1;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complete_btn span {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

/* pay */
.pay {
  background-color: #181818;
}
.pay .container {
  padding: 0 20px;
}

.pay .order_container,
.pay .pay_info_container,
.pay .delivery_container,
.pay .amount_container,
.pay .sale_container,
.pay .point_container,
.refund_delivery_container,
.pay .order2_container {
  background-color: #000000;
  padding: 20px;
}
.pay .pay_info_container,
.pay .sale_container,
.pay .delivery_container,
.pay .amount_container,
.pay .point_container,
.refund_delivery_container,
.pay .order2_container {
  margin-top: 20px;
}
.pay .agree_container {
  margin-top: 40px;
}
.pay_contents {
  width: 100%;
}
.pay_contents h3 {
  font-size: 16px;
  font-style: normal;
  margin-bottom: 15px;
  font-weight: 700;
}
.pay_contents h3 span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--color-green1);
}
.pay_content {
  display: flex;
  flex-direction: column;
}
.order_container .pay_content,
.order2_container .pay_content {
  height: 300px;
  overflow: auto;
}
.order_container .pay_content::-webkit-scrollbar,
.order2_container .pay_content::-webkit-scrollbar {
  width: 3px;
}
.order_container .pay_content::-webkit-scrollbar-thumb,
.order2_container .pay_content::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #414141;
}

.pay_list {
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  gap: 20px;
}
.pay_list:last-child {
  border: 0;
}
.pay_list-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
.pay_list-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pay_list-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 6px;
  flex-direction: column;
  overflow: hidden;
}
.basket_list-text {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.basket_list-text h3 {
  font-size: 14px;
  width: 80%;
  line-height: 18px;
  font-weight: 500;
}

.pay .count {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pay .count span {
  font-size: 12px;

  font-weight: 400;

  margin-top: 6px;
}
.pay .price span {
  font-size: 20px;

  font-weight: 700;
}
.pay .price {
  padding-top: 0;
  font-size: 16px;
  font-weight: 500;
  width: auto;
}
.pay .alarm {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.pay .amount > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pay .amount_normal,
.pay .amount_sale {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.amount_price {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
}

.pay .pay_btn {
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
  max-width: 420px;
  height: 60px;
  background-color: var(--color-green1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pay .pay_btn span {
  color: #000;
  text-align: center;

  font-size: 20px;

  font-weight: 600;
}
.amount {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.amount > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount_normal,
.amount_sale {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.amount_price {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.pay_content2 {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 24px;
}
.pay_content2-card {
  flex-direction: column;
  flex: 1;
  border-radius: 4px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15px;
  border: 1px solid #999;
}
.pay_card img {
  width: 22px;
  margin-bottom: 23px;
}
.pay_kakao img {
  width: 40px;
  margin-bottom: 23px;
}
.pay_acc img {
  width: 20px;
  margin-bottom: 22px;
}
.pay_phone img {
  width: 15px;
  margin-bottom: 19px;
}
.pay_content2-card span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.pay_content2-card.active {
  border: 1px solid var(--color-green1);
}
.pay_content2-card.active span {
  font-weight: 600;
  color: var(--color-green1);
}
.select_card {
  font-size: 12px;
  font-weight: 400;
}
.payAgree-label {
  display: flex;

  gap: 10px;
}
#payAgree {
  display: none;
}
.agree_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}
.agree_circle div {
  transform: scale(0.5);
  width: 100%;
  height: 100%;
  background-color: #999999;
}
.payAgree-label input:checked ~ .agree_circle {
  border: 1px solid var(--color-green1);
}
.payAgree-label input:checked ~ .agree_circle div {
  background-color: var(--color-green1);
}
.payAgree-label span {
  font-size: 14px;
  font-style: normal;

  font-weight: 400;
}
.payBtn {
  width: 100%;
  height: 70px;

  background-color: var(--color-green1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.last_price-text,
.payBtn {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

/* delivery */
.delivery_title,
.point_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery_title h3 {
  margin-bottom: 0;
}
.delivery_title a {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: var(--color-green1);
  color: #000;
  font-size: 12px;

  font-weight: 700;
}
.delivery_select,
.delivery_memo,
.sober_point {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery_select {
  margin-bottom: 4px;
}
.delivery_memo {
  align-items: flex-start;
}
.delivery_select span,
.delivery_memo span,
.sober_point span,
.coupon_fix_wrap > span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
#delivery_place,
#card_select,
#coupon_select,
.coupon_fix {
  all: unset;
  margin-top: 11px;
  width: 256px;
  height: 40px;
  border: 1px solid #666666;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 11px;
  font-size: 12px;
  box-sizing: border-box;
  background: url("/asset/imgs/icons/select_arrow.svg") no-repeat right 24px
    center;
}

#delivery_place option,
#card_select option,
#coupon_select option {
  font-size: 12px;
  background: #000;
}
.coupon_fix_wrap {
  display: flex;
  align-items: center;
  padding-bottom: 22px;
  width: 100%;
  justify-content: space-between;
  gap: 11px;
}
.coupon_fix {
  background: none;
  height: 62px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-green1);
}
.coupon_fix_title {
  position: relative;
}
.dash-line {
  width: 34px;
  height: 1px;
  border-bottom: 1px dashed #b2b2b2;
}
.coupon_fix_title h4 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-green1);
}
.coupon_fix_title span {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  color: #999;
}
.coupon_fix-price,
.fix_price {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  color: var(--color-green1);
}
.delivery_memo textarea {
  all: unset;
  resize: none;
  width: 256px;

  border: 1px solid #666666;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  font-size: 12px;
  box-sizing: border-box;
}
.delivery_data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 32px;
}
.delivery_data li {
  display: flex;
  width: 100%;
  gap: 25px;
}
.delivery_data li span:nth-child(1) {
  width: 55px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.delivery_data li span:nth-child(2) {
  flex-direction: 1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.sober_point {
  border-top: 1px solid #b2b2b2;
  padding-top: 22px;
}
.sober_point_input {
  position: relative;
}
.sober_point_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}
.sober_point_input span {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(0, -50%);
  right: 25px;
}
.sober_point input {
  all: unset;
  text-align: right;
  width: 200px;
  border: 1px solid #666666;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  padding-right: 40px;
  font-size: 12px;
  box-sizing: border-box;
}
.sober_point_alarm {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.use_sober_point {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-green1);
}
.point_title span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--color-green1);
}

/* order_detail */
.order_detail .price {
  display: block;
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 17px;
}
.price_ul {
  margin-top: 14px;
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}
.order_detail .price2 {
  padding: 0;
  padding-bottom: 25px;
  border-bottom: 0;
}

.price_ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.order_detail .price .price_name {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.order_detail .price .price_price {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.order_detail .price2 .price_name {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-green1);
}
.order_detail .price2 .price_amount {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}
.order_detail .pay_list {
  border-bottom: 0;
}
.order_detail .pay_list .price {
  border-bottom: 0;
  padding-bottom: 0;
}
.order_detail .count span {
  font-size: 12.6px;
  font-style: normal;
  font-weight: 400;
}
.order_detail .pay_list-text h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.refund_btn {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green1);
  font-size: 16px;
  color: #000;
  font-style: normal;
  margin-top: 20px;
  font-weight: 700;
}
.refund_btn.disable {
  color: #858585;

  background-color: #b2b2b2;
}

/* refund */
.cancel_reason {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #666666;
  display: flex;
  margin-top: 17px;
  flex-direction: column;
  gap: 20px;
}
.cancel_reason label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cancel_reason input {
  display: none;
}
.cancel_reason input:checked ~ .circle {
  border: 1px solid var(--color-green1);
}
.cancel_reason input:checked ~ .circle div {
  background-color: var(--color-green1);
}
.reason textarea {
  resize: none;
  width: 100%;
  height: 127px;
  padding: 20px;
  border: 1px solid #666666;
  background-color: transparent;
  margin-top: 20px;
  outline: 0;
  border-radius: 10px;
}
.cancel_policy h3 {
  padding-bottom: 15px;
}
.cancel_policy ul {
  padding-top: 15px;
  border-top: 1px solid #b2b2b2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cancel_policy ul span {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.refund_check {
  padding: 20px;
  margin-top: 31px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #666;
  border-radius: 10px;
}
.refund_check label {
  display: flex;
  align-items: center;
  gap: 8px;
}
#refund_check-input {
  display: none;
}

#refund_check-input:checked ~ .circle {
  border: 1px solid var(--color-green1);
}
#refund_check-input:checked ~ .circle div {
  background-color: var(--color-green1);
}
.popup {
  width: 100%;
  height: 100vh;
  background-color: #00000094;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.popup.active {
  display: flex;
}
.popup_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 370px;
  border-radius: 10px;
  border: 1px solid var(--color-green1);
  background: #000;
}
.popup_wrap h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.popup_btn {
  display: flex;
  height: 38px;
  width: 128px;
  border-radius: 10px;

  justify-content: center;
  background-color: var(--color-green1);
  align-items: center;
}
.popup_btn span {
  font-size: 14px;
  font-style: normal;
  color: #000;
  font-weight: 500;
}
.okBtn {
  background-color: #1f1f1f;
}
.okBtn span {
  color: #fff;
}
