/* products_list */
.products_list {
  position: relative;
}
.product_video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.product_video img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
}
.product_video video {
  width: 100%;
  transform: translate(0, -50%) scale(1.2);
}
.product_list_wrap {
  position: relative;
  padding-top: 170px;
  z-index: 1;
}
.weekly_list {
  padding: 15px 0;
  border-bottom: 1px solid #fff;
}
.weekly_list:last-child {
  border-bottom: 0;
}
.weekly_list a {
  display: flex;
  align-items: center;
  gap: 19px;
}
.weekly_list-img {
  width: 94px;
  border-radius: 10px;
  overflow: hidden;
}
.weekly_list-texts {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.list_text-tag {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tag {
  padding: 3px 9px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-red {
  background-color: #f20074;
}
.tag-yellow {
  background-color: #ffb61d;
}
.tag-purple {
  background-color: #412493;
}
.list_text-tag span {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.weekly_list-texts p {
  font-family: var(--font-pretendard);
  font-weight: 500;
  font-size: 16px;
  margin: 4px 0;
}
.list_text-price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.text-price {
  font-size: 20px;
  font-family: var(--font-pretendard);
  font-weight: 500;
}
.text-price span {
  font-family: var(--font-pretendard);

  font-weight: 700;
}
.text-percent {
  font-size: 18px;
  font-family: var(--font-pretendard);
  font-weight: 500;
  color: var(--color-green2);
}
.best_btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #fff;
  margin-top: 40px;
}
/* product */
.back {
  width: 100%;
  max-width: 420px;

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.back img {
  width: 20px;
  margin-left: 20px;
}
.product {
  padding: 10px 0 0px 0;
}
.product .container {
  padding: 0;
}
.product .item_img,
.product_title,
.product_price,
.product_tab,
.product_accordian {
  padding: 0 30px;
}
.product .item_img {
  position: relative;
  width: 100%;
}
.product .item_img .good {
  width: 35px;
  cursor: pointer;
  height: 35px;
  position: absolute;
  top: 20px;
  right: 55px;
}
.product .good img {
  display: none;
}
.product .product_title {
  margin-top: 27px;
}
.product .product_title .title {
  display: flex;
  align-items: center;
  gap: 3px;
}
.product .product_title .title img {
  width: 15px;
}
.product .product_title .score {
  font-size: 15px;

  font-weight: 400;
}
.product .score_length {
  color: #999;
  font-size: 15px;
  margin-right: 5px;

  font-weight: 400;
}
.product .product_title .bundle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-green1);
  height: 17px;
  width: 92px;
}
.product .product_title .bundle span {
  color: #181818;

  font-size: 10px;

  font-weight: 600;
}
.product .product_title-h {
  font-size: 21.028px;
  font-weight: 500;
  margin: 5px 0;
}
.product .product_title-sub {
  color: #999;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-size: 14px;

  font-weight: 400;
}

.product .product_price {
  padding-bottom: 16px;
  border-bottom: 1px dashed #bcbcbc;
  margin-top: 6px;
}
.product .product_price .sale {
  margin-bottom: 2px;
}
.product .product_price .sale .sale_price {
  font-size: 18px;

  font-weight: 400;

  text-decoration-line: line-through;
}
.product .product_price .sale .sale_percent {
  color: var(--color-green1);
  font-size: 18px;
  margin-left: 6px;
  font-weight: 700;
}
.product .product_price .price span {
  font-size: 26px;
  font-weight: 700;
}

.product .product_price .price .price_nub {
  font-size: 26px;
  font-weight: 700;
  margin-right: 2px;
}

.product .product_tab {
  padding-top: 16px;
}

.product_tab .sale {
  border-bottom: 1px dashed #bcbcbc;
  padding-bottom: 16px;
}

.product_tab .sale > span {
  border-radius: 50px;
  border: 1px solid var(--color-green1);
  color: var(--color-green1);
  font-size: 14px;
  font-weight: 600;
  padding: 3px 9px;
}
.product_tab .sale h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 14px 0 10px 0;
}
.product_tab .sale h4 span {
  color: var(--color-green1);
  font-size: 18px;
  font-weight: 600;
}
.product_tab .sale p {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}

.product_tab .option {
  padding: 16px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.product_tab .option > span {
  font-size: 14px;

  font-weight: 400;
}
.product_tab .option button {
  border-radius: 10px;
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00ff41;
}
.product_tab .option button span {
  font-size: 14px;

  font-weight: 600;
  color: #181818;
}
.product_accordian {
  width: 100%;
  margin-bottom: 67px;
}
.check_sale,
.sober_point,
.info {
  padding: 14px 0;
  border-top: 1px solid #666666;
}
.product_accordian h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-green1);
}
.product_accordian .info h3 {
  color: #999999;
}
.accordian_title {
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.accordian_title img {
  width: 13px;
  transition: transform 0.3s;
}
.accordian_inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s;
}
.product_accordian > div.active .accordian_inner {
  height: var(--height) !important;
}
.product_accordian > div.active .accordian_title img {
  transform: rotate(-180deg);
}
.check_sale .accordian_inner {
  gap: 11px;
}
.check_sale .sober_point,
.check_sale .info {
  gap: 4px;
}

.accordian_inner > span {
  font-size: 14px;
  font-weight: 600;
}
.accordian_inner span > .color {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-green1);
}
.sober_point .accordian_inner span {
  color: var(--color-green1);
}
.info .accordian_inner span {
  color: #999999;
}
.accordian_inner li:first-child {
  margin-top: 14px;
}
.tab {
  display: flex;
  align-items: center;
  position: sticky;
  top: 100px;
  left: 0;
  justify-content: center;
  height: 58px;
  z-index: 1;
  width: 100%;
  background-color: #000000;
}
.tab li {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.tab li.active:after {
  width: 100%;
  height: 3px;
  background-color: var(--color-green1);
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
.tab li.active span {
  color: var(--color-green1);
}
.contents {
  padding: 0 20px;
  z-index: 0;
  position: relative;
}
.contents_list {
  margin: 50px 0;
  position: relative;
}
.detail {
}

.detail_page_img {
  overflow: hidden;
  padding-bottom: 30px;
  max-height: 600px;
}
.detail_page_img.visible {
  overflow: visible;
  max-height: 100%;
}
.view_btn {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  gap: 10px;
  position: relative;
  border: 1px solid var(--color-green1);
}

.detail_page button.hidden {
  position: relative;
  z-index: 1;
}
.view_btn span {
  color: var(--color-green1);
  font-size: 16px;
  font-weight: 500;
}
.view_btn img {
  width: 13px;
}
.shadow_img {
  height: 140px;
  background: url(/asset/imgs/hidden.png) no-repeat top/cover;
  width: 381.33px;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
.shadow_img.hidden {
  display: none;
}

.delivery {
  padding: 0 20px;
  cursor: pointer;
}
.delivery_wrap {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  border-top: 1px solid var(--color-green1);
  border-bottom: 1px solid var(--color-green1);

  justify-content: space-between;
}
.delivery_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery_title > span {
  color: var(--color-green1);
  font-size: 16px;
  font-weight: 500;
}
.delivery_title > img {
  width: 13px;
  transition: 0.3s;
  margin-right: 10px;
}
.delivery_data {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: hidden;
  transition: all 0.3s;
}
.delivery.active .delivery_data {
  height: var(--height) !important;
}
.delivery.active .delivery_title > img {
  transform: rotate(-180deg);
}
.delivery_data span {
  font-size: 13px;
  font-weight: 500;
  color: #666;
}

.delivery_data li:first-child {
  margin-top: 10px;
}
.delivery_data li:last-child {
  margin-bottom: 5px;
}
.contents_list {
  display: none;
}
.contents_list.active {
  display: block;
}

.review_contents > h3 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-green1);
}
.review_contents > h3 span {
  font-size: 16px;
  font-weight: 300;
}
.review_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.review_card:last-child {
  margin-bottom: 0;
}
.review_inner {
  border-radius: 10px;
  padding: 16px;
  background: #000;
}

.review_top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.review_img {
  border-radius: 10px;
  overflow: hidden;
  width: 70px;
}
.review_top h3 {
  font-size: 16px;
  font-weight: 700;
}
.review_center {
  margin: 15px 0 19px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.review_star {
  display: flex;
  align-items: center;
  gap: 3px;
}
.review_date span {
  font-size: 12px;

  font-weight: 400;
}
.review_bottom {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 10px;
}
.review_bottom li {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border: 1px solid #fff;
}
.review_more {
  width: 96px;
  height: 36px;
  display: flex;
  margin: 0 auto;
  margin-top: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  gap: 10px;
  border: 1px solid var(--color-green1);
}
.review_more span {
  font-size: 16px;

  font-weight: 500;
  color: var(--color-green1);
}
.review_more img {
  width: 8px;
}

.cs_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cs_top h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-green1);
}
.cs_top h3 span {
  font-size: 16px;
  font-weight: 300;
}
.cs_top a {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-green1);
  border-bottom: 1px solid var(--color-green1);
}

.cs_ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.cs_card {
  padding: 15px 16px;
  border-radius: 10px;
  background-color: #000;
}
.cs_card {
  width: 100%;
  height: 100%;
}
.cs_inner {
  width: 100%;
  height: 100%;
}
.cs_inner h3 {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 16px;
}
.cs_content {
  padding-top: 16px;
  border-top: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cs_date {
  font-size: 13px;
  font-weight: 400;
  color: #808080;
  letter-spacing: -0.13px;
}
.cs_result_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 5px 10px;
  border-radius: 20px;
}
.cs_result_btn span {
  font-size: 12px;
  font-weight: 500;
}
.cs_result_btn.cs_complete {
  background-color: var(--color-green1);
}
.cs_result_btn.cs_complete span {
  color: #000;
}
.cs_result_btn.cs_pending {
  background-color: #f5f6f8;
}
.cs_result_btn.cs_pending span {
  color: #808080;
}
.cs_navi {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.cs_navi li span {
  font-size: 16px;
  font-weight: 300;
}
.cs_navi li.active span {
  color: var(--color-green1);
}
.share {
  width: 34px;
  right: 0;

  margin-left: auto;
  z-index: 1;
  height: 34px;
  margin-right: 20px;
  margin-top: 30px;
  z-index: 2;
}
.share_btn {
  width: 34px;
  position: absolute;
  right: 20px;
}
.buy {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  background-color: #000;
  max-width: 420px;
  position: fixed;
  padding: 26px 23px;
  bottom: 60px;
  z-index: 1;
}
.buy .basket {
  width: 18px;
  position: relative;
  top: initial;
  left: initial;
  width: 44px;
  height: 41px;
  border-radius: 8px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.buy .basket img {
  width: 20px;
}
.basket img.active {
  display: flex !important;
}
.buy_btn {
  flex: 1;
  background-color: var(--color-green1);
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  height: 41px;
}
.buy_btn span {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

/* 옵션 */
.option_Tab {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  background-color: #181818;
  max-width: 420px;
  position: fixed;
  padding: 25px 28px;
  bottom: 150px;
  transform: translate(0, 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.3s;
  z-index: 1;
}
.option_Tab.active {
  transform: translate(0, 0);
}
.option_Tab_wrap {
  width: 100%;
}
.option_select {
  position: relative;
  width: 100%;
}
.select_top {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #fff;
  height: 35px;
  padding: 7px 16px;
}
.option_select.active .select_top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.option_select.active .select_top img {
  transform: rotate(-180deg);
}
.select_top > span {
  font-size: 14px;
  font-weight: 400;
}
.select_top > img {
  width: 13px;
}
.select_option_wrap {
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  z-index: 1;
  left: 0;
  width: 100%;
}
.select_option_wrap.active {
  overflow: auto;
  height: auto;
  max-height: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #fff;
  border-top: 0;
}
.select_option_wrap.active::-webkit-scrollbar {
  width: 3px;
}
.select_option_wrap.active::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #666;
}
.select_option {
  width: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 16px;
  padding-top: 10px;
}

.select_option li {
  cursor: pointer;
  position: relative;
}

.select_option li p {
  font-size: 12px;
  font-weight: 400;
}
.option_inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.option_inner p:nth-child(1) .option_inner-percent,
.option_inner p:nth-child(1) .option_inner-text {
  color: var(--color-green1);
}
.option_inner p:nth-child(2) .option_inner-line,
.option_inner p:nth-child(2) .option_inner-sale {
  color: #999;
  text-decoration: line-through;
}
.option_inner p:nth-child(2) .option_inner-last {
  color: #fff;
}
.buy_items {
  margin-top: 16px;
  height: auto;
  max-height: 180px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buy_items::-webkit-scrollbar {
  width: 3px;
}
.buy_items::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #666;
}
.buy_items li {
  position: relative;
  background-color: #383838;
  padding: 11px 13px;
  border-radius: 10px;
}
.buy_items .close {
  position: absolute;
  top: 11px;
  right: 13px;
  width: 10px;
}
.item_top h3 {
  max-width: 60%;
  font-size: 12px;
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.item_top h3 .sale,
.item_top h3 .sale_percent {
  color: var(--color-green1);
}
.quantity_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.quantity_wrap .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.quantity_wrap .quantity button {
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity_quantity {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.quantity_wrap .price {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}
.quantity_wrap .price_sale {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-decoration: line-through;
}
.quantity_wrap .price_money {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.option_amount_wrap,
.option_amount {
  width: 100%;
}
.option_amount {
  margin-top: 40px;
  padding-top: 13px;
  border-top: 1px solid #fff;
}
.option_amount_wrap {
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.option_amount_wrap:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.option_amount_wrap div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option_amount_wrap:nth-child(1) div span {
  font-size: 12px;

  font-weight: 400;
}
.option_amount_wrap .add span {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-green1);
}
.option_amount_wrap:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}
.option_amount_wrap:nth-child(3) * {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.tab_close {
  position: absolute;
  top: 10px;
  width: 50px;
  height: 3px;
  border-radius: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
}

@media all and (max-width: 420px) {
  .product {
    padding-top: 110px;
  }
  .product_video {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .product_video img {
    transform: translate(-50%, 0%) scale(1.4);
  }
  .product_video video {
    transform: translate(0, -20%) scale(1.4);
  }
  .product_list_wrap {
    padding-top: 300px;
  }
}
