.back {
  margin-bottom: 0;
}
.promo_img {
  width: 100%;
}
.promo_wrap {
  position: relative;
}
.des {
  position: absolute;
  width: 100%;

  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.des li span {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
